<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="User" value="mooneyp_api1.ryanair.com" />
    <add key="Password" value="SGXZY5DZF8Z2NPMJ" />
    <add key="Signature" value="AiPC9BjkCyDFQXbSkoZcgqH3hpacA9z5ifoxmUcaiSRyXGXCRdigeLTa" />
    <add key="SetExpressCheckoutURI" value="https://api-3t.sandbox.paypal.com/nvp" />
  </appSettings>
</configuration>